In [1]:
import pandas as pd

In [2]:
url = "https://www.worldometers.info/world-population/nigeria-population/"

In [3]:
pd.read_html(url)[1]

,Year,Population,Yearly % Change,Yearly Change,Migrants (net),Median Age,Fertility Rate,Density (P/KmÂ²),Urban Pop %,Urban Population,Country's Share of World Pop,World Population,Nigeria Global Rank
0,2024,229152217,2.39 %,5347585,-59996,17.4,4.99,252,54.7 %,125447884,2.82 %,8118835999,6
1,2023,223804632,2.41 %,5263420,-59996,17.2,5.06,246,53.9 %,120696717,2.78 %,8045311447,6
2,2022,218541212,2.41 %,5139889,-59996,17.1,5.14,240,53.1 %,116057853,2.74 %,7975105156,6
3,2020,208327405,2.47 %,5022913,-4824,16.9,5.31,229,51.4 %,107112526,2.66 %,7840952880,7
4,2015,183995785,2.71 %,4608586,-145917,16.7,5.62,202,47.1 %,86673094,2.48 %,7426597537,7
5,2010,160952853,2.76 %,4092426,18073,16.7,5.98,177,42.8 %,68949828,2.30 %,6985603105,7
6,2005,140490722,2.72 %,3527748,-46749,17.0,6.07,154,38.6 %,54288918,2.14 %,6558176119,9
7,2000,122851984,2.57 %,2932875,34146,17.0,6.12,135,34.7 %,42627440,2.00 %,6148898975,10
8,1995,108187610,2.59 %,2594671,43504,16.7,6.27,119,32.2 %,34785545,1.88 %,5743219454,10
9,1990,95214257,2.64 %,2325801,107212,16.4,6.46,105,29.7 %,28276132,1.79 %,5316175862,10
10,1985,83585251,2.76 %,2126762,19791,16.5,6.62,92,25.6 %,21434266,1.72 %,4861730613,10
11,1980,72951439,3.03 %,2020025,184467,17.0,6.85,80,22.1 %,16139321,1.64 %,4444007706,11
12,1975,62851312,2.49 %,1456410,75448,17.5,6.77,69,19.9 %,12535584,1.54 %,4069437231,11
13,1970,55569264,2.16 %,1128693,7960,18.0,6.47,61,17.9 %,9942297,1.50 %,3695390336,12
14,1965,49925799,2.13 %,999491,28207,18.3,6.37,55,16.6 %,8296771,1.50 %,3337111983,14
15,1960,44928342,1.93 %,817824,12174,18.3,6.36,49,15.5 %,6955737,1.49 %,3019233434,14
16,1955,40839223,1.89 %,729971,-12619,18.3,6.40,45,12.1 %,4952844,1.49 %,2746072141,14

In [4]:
table1 = pd.read_html(url)[1]
table2 = pd.read_html(url)[2]
table3 = pd.read_html(url)[3]

In [5]:
print(table3)

     #      CITY NAME  POPULATION
0    1          Lagos     9000000
1    2           Kano     3626068
2    3         Ibadan     3565108
3    4         Kaduna     1582102
4    5  Port Harcourt     1148665
..  ..            ...         ...
65  66         Okrika      133271
66  67        Amaigbo      127300
67  68          Lafia      127236
68  69         Gashua      125817
69  70       Modakeke      119529

[70 rows x 3 columns]

### **Transforming the header**

In [6]:
table1.columns = ['Year', 'Population', 'Yearly_%_Change', 'Yearly_Change',
       'Migrants_(net)', 'Median_Age', 'Fertility_Rate', 'Density_(P/KmÂ²)',
       'Urban_Pop%', 'Urban_Population', 'Country_Share_of_World_Pop',
       'World_Population', 'Nigeria_Global_Rank']
table1.head()

,Year,Population,Yearly_%_Change,Yearly_Change,Migrants_(net),Median_Age,Fertility_Rate,Density_(P/KmÂ²),Urban_Pop%,Urban_Population,Country_Share_of_World_Pop,World_Population,Nigeria_Global_Rank
0,2024,229152217,2.39 %,5347585,-59996,17.4,4.99,252,54.7 %,125447884,2.82 %,8118835999,6
1,2023,223804632,2.41 %,5263420,-59996,17.2,5.06,246,53.9 %,120696717,2.78 %,8045311447,6
2,2022,218541212,2.41 %,5139889,-59996,17.1,5.14,240,53.1 %,116057853,2.74 %,7975105156,6
3,2020,208327405,2.47 %,5022913,-4824,16.9,5.31,229,51.4 %,107112526,2.66 %,7840952880,7
4,2015,183995785,2.71 %,4608586,-145917,16.7,5.62,202,47.1 %,86673094,2.48 %,7426597537,7

In [7]:
table2.columns = ['Year', 'Population', 'Yearly%Change', 'YearlyChange',
       'Migrants(net)', 'MedianAge', 'FertilityRate', 'Density(P/KmÂ²)',
       'UrbanPop%', 'UrbanPopulation', 'CountryShareofWorldPop',
       'WorldPopulation', 'NigeriaGlobalRank']
table2.head()

,Year,Population,Yearly%Change,YearlyChange,Migrants(net),MedianAge,FertilityRate,Density(P/KmÂ²),UrbanPop%,UrbanPopulation,CountryShareofWorldPop,WorldPopulation,NigeriaGlobalRank
0,2025,234573603,2.40 %,5249240,-59996.0,17.5,4.90,258,55.6 %,130312056,2.86 %,8191988453,6
1,2030,262580426,2.28 %,5601365,-59996.0,18.3,4.45,288,59.5 %,156299881,3.07 %,8546141327,6
2,2035,291591598,2.12 %,5802234,-59996.0,19.1,4.00,320,63.4 %,184887647,3.28 %,8879397401,6
3,2040,320779660,1.93 %,5837612,-59996.0,20.1,3.61,352,67.4 %,216083536,3.49 %,9188250492,5
4,2045,349603702,1.74 %,5764808,-59996.0,21.2,3.26,384,71.6 %,250285391,3.69 %,9467543575,4

In [8]:
table3.columns = ['#', 'CITYNAME', 'POPULATION']
table3.head()

   #       CITYNAME  POPULATION
0  1          Lagos     9000000
1  2           Kano     3626068
2  3         Ibadan     3565108
3  4         Kaduna     1582102
4  5  Port Harcourt     1148665

### **Load Data Into PostgresSQL Database**

In [9]:
!pip install psycopg2
import psycopg2 #for connecting to postgresql database and executing queries
from sqlalchemy import create_engine #efficiently manage and reuse database connections

Collecting psycopg2
  Downloading psycopg2-2.9.9-cp311-cp311-win_amd64.whl.metadata (4.5 kB)
Downloading psycopg2-2.9.9-cp311-cp311-win_amd64.whl (1.2 MB)
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   - -------------------------------------- 0.0/1.2 MB ? eta -:--:--
   - -------------------------------------- 0.0/1.2 MB ? eta -:--:--
   - -------------------------------------- 0.0/1.2 MB ? eta -:--:--
   - -------------------------------------- 0.0/1.2 MB ? eta -:--:--
   - -------------------------------------- 0.0/1.2 MB ? eta -:--:--
   - -------------------------------------- 0.0/1.2 MB ? eta -:--:--
   - -------------------------------------- 0.0/1.2 MB 98.1 kB/s eta 0:00:12
   -- ------------------------------------- 0.1/1.2 MB 142.2 kB/s eta 0:00:08
   -- ------------------------------------- 0.1/1.2 MB 169.9 kB/s eta 0:00:07
   -- ------------------------------------- 0.1/1.2 MB 169.9 kB/s eta 0:00:07
   --- ------------------------------------ 0.1/1.2 MB 168.9 kB/s eta 0:00:07
   --- ------------------------------------ 0.1/1.2 MB 168.9 kB/s eta 0:00:07
   --- ------------------------------------ 0.1/1.2 MB 168.9 kB/s eta 0:00:07
   --- ------------------------------------ 0.1/1.2 MB 163.8 kB/s eta 0:00:07
   ---- ----------------------------------- 0.1/1.2 MB 189.4 kB/s eta 0:00:06
   ------ --------------------------------- 0.2/1.2 MB 245.8 kB/s eta 0:00:04
   ------- -------------------------------- 0.2/1.2 MB 249.1 kB/s eta 0:00:04
   ------- -------------------------------- 0.2/1.2 MB 264.5 kB/s eta 0:00:04
   ------- -------------------------------- 0.2/1.2 MB 264.5 kB/s eta 0:00:04
   -------- ------------------------------- 0.2/1.2 MB 251.1 kB/s eta 0:00:04
   --------- ------------------------------ 0.3/1.2 MB 270.3 kB/s eta 0:00:04
   ----------- ---------------------------- 0.3/1.2 MB 313.0 kB/s eta 0:00:03
   -------------- ------------------------- 0.4/1.2 MB 374.4 kB/s eta 0:00:02
   ---------------- ----------------------- 0.5/1.2 MB 427.8 kB/s eta 0:00:02
   ---------------- ----------------------- 0.5/1.2 MB 427.8 kB/s eta 0:00:02
   ---------------- ----------------------- 0.5/1.2 MB 427.8 kB/s eta 0:00:02
   ------------------ --------------------- 0.5/1.2 MB 407.7 kB/s eta 0:00:02
   --------------------- ------------------ 0.6/1.2 MB 462.6 kB/s eta 0:00:02
   ------------------------ --------------- 0.7/1.2 MB 521.3 kB/s eta 0:00:01
   ----------------------------- ---------- 0.9/1.2 MB 604.9 kB/s eta 0:00:01
   ---------------------------------- ----- 1.0/1.2 MB 676.2 kB/s eta 0:00:01
   ---------------------------------- ----- 1.0/1.2 MB 662.0 kB/s eta 0:00:01
   ----------------------------------- ---- 1.0/1.2 MB 655.1 kB/s eta 0:00:01
   -------------------------------------- - 1.1/1.2 MB 686.9 kB/s eta 0:00:01
   ---------------------------------------  1.2/1.2 MB 698.9 kB/s eta 0:00:01
   ---------------------------------------- 1.2/1.2 MB 677.2 kB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.9

In [10]:
# Database Credentials
db_username = 'postgres'
db_password = '1304'
db_host = 'localhost'
db_port = 5432
db_name = 'Population'

In [11]:
#Establish a connection using SQLAlchemy Engine
engine = create_engine(f'postgresql+psycopg2://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}')

In [15]:
!service postgresql status

'service' is not recognized as an internal or external command,
operable program or batch file.

In [13]:
dbt1 = 'Pop2023'
dbt2 = 'PopForecast'
dbt3 = 'PopCity'

In [14]:
#Load Data into Database tables
table1.to_sql(dbt1, engine, if_exists='replace', index=False)
table2.to_sql(dbt2, engine, if_exists='replace', index=False)
table3.to_sql(dbt3, engine, if_exists='replace', index=False)

#Close Connection
engine.dispose()